/* Space out content a bit */
body {
  padding-bottom: 0;
  background-color:#7EC4FC;
}

#cards {
  width:1100px;
  background-color:#efefef;
  padding:25px;
  margin:0 auto;
}

#cards li{
  background-color:#fff;
  text-decoration: none;
  display:inline-block;
  width:300px;
  margin:25px;
  position:relative;
}

#cards li .select {
  display:block;
  width:300px;
  height:131px;
  padding:10px;
  display:table-cell;
  vertical-align:middle;
  background-color:red;
}

#cards li select {
  display:block;
  width:100%;
}

#cards li div.glyphicon {
  display:block;
  margin:0 auto;
  height: 169px;
  font-size: 10em;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {

  #cards {
    width:100%;
    padding:10px;
  }

  #cards li {
    display:block;
    width:100%;
    margin:0 0 10px;
  }

  #cards li .select {
    display:block;
    width:100%;
    height:auto;
  }
}