<ul id="cards">
	<li ng-repeat="card in cards track by $index">
		<div class="glyphicon" ng-class="card.icon"></div>
		<div class="select" ng-style="card">
			<select ng-options="icon.icon for icon in icons" ng-model="selectModel" ng-change="updateIcon($index, selectModel)">
			</select>
		</div>
	</li>
</ul>